# Data Cleaning

In [1]:
import pandas as pd

In [2]:
path = "../ml-latest-small"

In [3]:
links = pd.read_csv(f"{path}/links.csv")
movies = pd.read_csv(f"{path}/movies.csv")
ratings = pd.read_csv(f"{path}/ratings.csv")
tags = pd.read_csv(f"{path}/tags.csv")

## Movies
Only movies with at least one rating or tag are included in the dataset. These movie ids are consistent with those used on the MovieLens web site (e.g., id `1` corresponds to the URL <https://movielens.org/movies/1>). Movie ids are consistent between `ratings.csv`, `tags.csv`, `movies.csv`, and `links.csv` (i.e., the same id refers to the same movie across these four data files).

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
 3   year     9729 non-null   object
dtypes: int64(1), object(3)
memory usage: 304.6+ KB

In [5]:
cl_movies = movies
cl_movies["year"] = cl_movies["title"].str.extract("\((\d{4})\)", flags=0, expand=True)
cl_movies["title"] = cl_movies["title"].str.replace("\(\d{4}\)","")

/var/folders/kx/b3xc9jhj6qd_wgghcg01wqyr0000gn/T/ipykernel_45066/1016119135.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  cl_movies["title"] = cl_movies["title"].str.replace("\(\d{4}\)","")

In [7]:
cl_movies["year"] = cl_movies["year"].fillna(0).astype("int64")
cl_movies["genres"] = cl_movies["genres"].str.replace("|", " | ")

/var/folders/kx/b3xc9jhj6qd_wgghcg01wqyr0000gn/T/ipykernel_45066/2519710725.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  cl_movies["genres"] = cl_movies["genres"].str.replace("|", " | ")

In [8]:
movies.to_csv("../cleaned_data/cl_movies.csv", index=False)

## Ratings

In [112]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [113]:
ratings.sample(5)

       userId  movieId  rating   timestamp
21751     141     3114     4.5  1513130145
73931     474     2944     3.5  1081177608
30513     212   180985     4.5  1532361970
38119     260     8607     3.0  1109410583
61589     408     1210     4.0  1472537300

In [114]:
ratings["timestamp"] = pd.to_datetime(ratings["timestamp"], unit="s")

In [115]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 3.1 MB

In [116]:
ratings.to_csv("../cleaned_data/cl_ratings.csv", index=False)

## Links

In [117]:
links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

In [118]:
cl_links = (
    links
    #remove imdbLinks
    .drop(columns="imdbId")
    # drop NAs in tmdbIds
    .dropna()
)
# adjust Datatype
cl_links["tmdbId"] = cl_links["tmdbId"].astype(int)
cl_links.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9734 entries, 0 to 9741
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9734 non-null   int64
 1   tmdbId   9734 non-null   int64
dtypes: int64(2)
memory usage: 228.1 KB

In [119]:
cl_links.to_csv("../cleaned_data/cl_links.csv", index=False)

## Tags

In [120]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB

In [121]:
tags.sample(5)

      userId  movieId                    tag   timestamp
2738     477    69757              inspiring  1279956130
2903     567     1203                earnest  1525283658
1140     474      539  Empire State Building  1137203041
3673     606     1357                  music  1176765393
2771     506   112552                   jazz  1424487178

In [122]:
tags["tag"] = tags["tag"].astype("category")
tags["timestamp"] = pd.to_datetime(tags["timestamp"], unit="s")

In [123]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   category
 3   timestamp  3683 non-null   datetime64[ns]
dtypes: category(1), datetime64[ns](1), int64(2)
memory usage: 170.6 KB

In [124]:
tags.sample(5)

      userId  movieId              tag           timestamp
1467     474     1608        president 2006-01-16 01:41:21
3586     599      924  Stanley Kubrick 2017-06-26 05:59:14
3206     567   109487     bad dialogue 2018-05-02 18:59:22
1101     474      364           Disney 2006-01-13 19:35:59
1127     474      515           Butler 2006-01-14 01:36:39

In [125]:
tags.to_csv("../cleaned_data/cl_tags.csv", index=False)