# Movie Recommender - Item based

In [1]:
import pandas as pd
import seaborn as sns
import pickle

In [2]:
path = "./ml-latest-small/"
movies = pd.read_csv(f"{path}movies.csv")
links = pd.read_csv(f"{path}links.csv")
ratings = pd.read_csv(f"{path}ratings.csv")

In [3]:
ratings_dense_matrix = (
    ratings
        .drop(columns="timestamp")
        .groupby("movieId")
        .agg(mean_rating= ("rating", "mean"), count_rating= ("rating","count"))
        .reset_index()
        .assign(ratingtest = lambda x: x["mean_rating"] * (x["count_rating"] / 300))
        .round(1)  
)
ratings_dense_matrix

      movieId  mean_rating  count_rating  ratingtest
0           1          3.9           215         2.8
1           2          3.4           110         1.3
2           3          3.3            52         0.6
3           4          2.4             7         0.1
4           5          3.1            49         0.5
...       ...          ...           ...         ...
9719   193581          4.0             1         0.0
9720   193583          3.5             1         0.0
9721   193585          3.5             1         0.0
9722   193587          3.5             1         0.0
9723   193609          4.0             1         0.0

[9724 rows x 4 columns]

## Recommender Function
**Input:** 
- movie_name 
- n: int = movies_to_display
**Output:** 
- top n most similar movie titles 
- based on cosine similarity

In [4]:
# py function get sparse matrix
def get_sparse_matrix(dense_matrix: pd.DataFrame): 
    dense_matrix.pivot(index='userId', columns='movieId', values=['rating'])
    return(
    dense_matrix
        .pivot(index='userId', columns='movieId', values='rating')
    )

In [5]:
# py function item based recommender
def item_based_recommender(dense_matrix: pd.DataFrame, movie_id: int, n: int =10): # n=6, minimum number of ratings

    sparse_matrix = get_sparse_matrix(ratings)
    
    movie_ids = (
    sparse_matrix
        .corrwith(sparse_matrix[movie_id])
        .sort_values(ascending=False)
        .index
        .to_list()[1:n+1]
    )
    movie_titles = [movies.query("movieId == @movie_id")["title"].iloc[0] for movie_id in movie_ids ]

    return movie_titles

item_based_recommender(ratings_dense_matrix, 2, 3)

/opt/anaconda3/lib/python3.9/site-packages/numpy/lib/function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/opt/anaconda3/lib/python3.9/site-packages/numpy/lib/function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

['Summer Catch (2001)',
 'The Overnight (2015)',
 'Place Beyond the Pines, The (2012)']

In [6]:

pickle.dump(
     item_based_recommender,
     open(     
          file='../recommenders/item_based_recom.sav', 
          mode='wb'
     )
)