In [106]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re

In [101]:
def get_movie_image_url(tmdb_ids: list):
    movie_urls = []
    for id in tmdb_ids:
        try:
            url = f"https://www.themoviedb.org/movie/{id}"
            headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
            page = requests.get(url, headers=headers)
            soup = BeautifulSoup(page.text, "html.parser")
            url = soup.select("img.poster")[0]["src"]
            short_url = re.sub(r"(\/)(.*)(\/)", "", url)
            movie_urls.append(short_url)
        except:
            movie_urls.append("empty")

    return movie_urls

In [102]:
path = "../cleaned_data/"
links = pd.read_csv(f"{path}cl_links.csv")
movies = pd.read_csv(f"{path}cl_movies.csv")
links = links.fillna(0)
links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9734 entries, 0 to 9733
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9734 non-null   int64
 1   tmdbId   9734 non-null   int64
dtypes: int64(2)
memory usage: 152.2 KB

In [103]:
movie_ids = links["tmdbId"].to_list()

In [104]:
# LASTS approx. 80 mins to run
# movie_image_urls = get_movie_image_url(movie_ids)

In [105]:
# links["image_url"] = movie_image_urls
# links.to_csv("../cleaned_data/cl_links_urls.csv",index=False)

In [107]:
links_urls = pd.read_csv("../cleaned_data/cl_links_urls.csv")

links_urls["image_url"] = links_urls["image_url"].apply(lambda x: "https://www.themoviedb.org/t/p/w300_and_h450_bestv2/" + x) 
links_urls

      movieId  tmdbId                                          image_url
0           1     862  https://www.themoviedb.org/t/p/w300_and_h450_b...
1           2    8844  https://www.themoviedb.org/t/p/w300_and_h450_b...
2           3   15602  https://www.themoviedb.org/t/p/w300_and_h450_b...
3           4   31357  https://www.themoviedb.org/t/p/w300_and_h450_b...
4           5   11862  https://www.themoviedb.org/t/p/w300_and_h450_b...
...       ...     ...                                                ...
9729   193581  432131  https://www.themoviedb.org/t/p/w300_and_h450_b...
9730   193583  445030  https://www.themoviedb.org/t/p/w300_and_h450_b...
9731   193585  479308  https://www.themoviedb.org/t/p/w300_and_h450_b...
9732   193587  483455  https://www.themoviedb.org/t/p/w300_and_h450_b...
9733   193609   37891  https://www.themoviedb.org/t/p/w300_and_h450_b...

[9734 rows x 3 columns]

In [109]:
links_urls.to_csv("../cleaned_data/cl_links_urls.csv",index=False)